<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vnnet.kpi.web.persistence.SysLogInfoExMapper">
    <resultMap id="BaseResultMap" type="com.vnnet.kpi.web.model.SysLogInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="operation" jdbcType="NVARCHAR" property="operation"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>

    <select id="findPage" resultMap="BaseResultMap">
        select a.* from sys_log_info a
        where a.create_time >= #{fromDate} and a.create_time &lt; #{toDate}
        and (a.create_by = #{userName} or #{userName} is null or #{userName} = '')
        and lower(a.create_by) like ('%' + lower(#{userInput}) + '%')
        and lower(a.operation) like ('%' + lower(#{operation}) + '%')
        order by a.create_time desc
    </select>


</mapper>
